# Created by .gitignore support plugin (hsz.mobi)
app/cache
logs/
phalcon-devtools
atlassian-ide-plugin.xml
.phalcon
.htaccess
.idea
Leo Fashion
app/library/Navigation
app/library/PDWLeo Fashion
app/config/config.php
public/webgrind