/* RIGHT TO LEFT */
#search_block_top {
  z-index: 2000;
}
#search_block_top #searchbox {
  float: left;
  width: 100%;
}
.rtl #search_block_top #searchbox {
  float: right;
}
#search_block_top .btn.button-search {
  background-color: transparent;
  border: 0;
  display: block;
  height: 27px;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 30px;
}
.rtl #search_block_top .btn.button-search {
  left: 0;
  right: auto;
}
#search_block_top .btn.button-search span {
  display: none;
}
#search_block_top .btn.button-search:before {
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  width: 100%;
  text-align: center;
  color: #7E7F80;
  padding-top: 1px;
}
#search_block_top .btn.button-search:hover {
  color: #6f6f6f;
}
#search_block_top #search_query_top {
  border: 1px solid #ededed;
  box-shadow: 0;
  height: 28px;
  margin: 0 !important;
  width: 200px;
  padding: 0 30px 0 5px;
}

.ac_results {
  background: white;
  border: 1px solid #ededed;
  width: 271px;
  margin-top: -1px;
}
.ac_results li {
  padding: 0 10px;
  font-weight: normal;
  color: #686666;
  font-size: 13px;
  line-height: 22px;
}
.ac_results li.ac_odd {
  background: white;
}
.ac_results li:hover, .ac_results li.ac_over {
  background: #fbfbfb;
}

form#searchbox {
  position: relative;
}
form#searchbox label {
  color: #2e3039;
}
form#searchbox input#search_query_block {
  margin-right: 10px;
  max-width: 222px;
  margin-bottom: 10px;
  display: inline-block;
  float: left;
}
.rtl form#searchbox input#search_query_block {
  float: right;
}
form#searchbox .button.button-small {
  float: left;
}
.rtl form#searchbox .button.button-small {
  float: right;
}
form#searchbox .button.button-small i {
  margin-right: 0;
}
