/* RIGHT TO LEFT */
/* Block newsletter */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0;
}
#columns #newsletter_block_left .form-group .form-control {
  max-width: 222px;
  display: inline-block;
  margin-right: 6px;
}
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px;
}
.rtl #columns #newsletter_block_left .success_inline, .rtl #columns #newsletter_block_left .warning_inline {
  text-align: right;
}
#columns #newsletter_block_left .success_inline {
  color: #418B19;
}
#columns #newsletter_block_left .warning_inline {
  color: #f13340;
}

/* Block newsletter footer */
#footer #newsletter_block_left {
  overflow: hidden;
  float: left;
  margin-bottom: 0;
}
.rtl #footer #newsletter_block_left {
  float: right;
}
#footer #newsletter_block_left h5 {
  text-transform: none;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 0;
}
#footer #newsletter_block_left h5:after {
  display: none;
}
#footer #newsletter_block_left .block_content {
  overflow: hidden;
}
#footer #newsletter_block_left .form-group {
  margin-bottom: 0;
}
#footer #newsletter_block_left .form-group .form-control {
  height: 29px;
  line-height: 29px;
  max-width: 267px;
  display: inline-block;
  float: left;
  font-size: 12px;
}
.rtl #footer #newsletter_block_left .form-group .form-control {
  float: right;
}
#footer #newsletter_block_left .form-group .form-control:focus {
  -webkit-box-shadow: black 0px 0px 0px;
  -moz-box-shadow: black 0px 0px 0px;
  box-shadow: black 0px 0px 0px;
}
#footer #newsletter_block_left .form-group .button-small {
  border: none;
  text-align: center;
  color: #908f8f;
  padding: 0 10px;
  height: 29px;
  border-radius: 0;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
#footer #newsletter_block_left .form-group .button-small:hover {
  color: white;
}
#footer #newsletter_block_left .warning_inline {
  display: block;
  color: #f13340;
  font-size: 13px;
  line-height: 26px;
  clear: both;
}
#footer #newsletter_block_left .newsletter-input {
  max-width: 380px !important;
}
