/* RIGHT TO LEFT */
.header_user_info {
  float: right;
  border-left: 1px solid #515151;
  border-right: 1px solid #515151;
}
.rtl .header_user_info {
  float: left;
}
.header_user_info a {
  color: white;
  font-weight: bold;
  display: block;
  padding: 8px 9px 11px 8px;
  cursor: pointer;
}
.header_user_info a:hover, .header_user_info a.active {
  background: #2b2b2b;
}
