/* RIGHT TO LEFT */
.tags_block .block_content {
  overflow: hidden;
}
.tags_block .block_content a {
  display: inline-block;
  line-height: 16px;
  padding: 15px 9px 5px 0px;
  float: left;
  margin: 0 3px 3px 0;
  color: #666666;
}
.rtl .tags_block .block_content a {
  float: right;
}
.dark .tags_block .block_content a {
  color: #dddddd;
}
