/* RIGHT TO LEFT */
/*******************************************************
Product list Styles
********************************************************/
/*******************************************************
Product list(List) Styles 
********************************************************/
.product_list.list > .ajax_block_product .product-image-container .content_price {
  display: none !important;
}
.product_list.list > .ajax_block_product .product-flags {
  color: #2e3039;
  margin: -5px 0 10px 0;
}
.product_list.list > .ajax_block_product .product-flags span {
  color: #D04B17;
  padding: 1px 5px;
  font-size: 12px;
  text-transform: uppercase;
}
.product_list.list > .ajax_block_product .product-flags .discount {
  color: #D04B17;
}
.product_list.list > .ajax_block_product h5 {
  padding-bottom: 8px;
}
.product_list.list > .ajax_block_product .product-desc {
  margin-bottom: 15px;
}
.product_list.list > .ajax_block_product .product-container .product_bottom {
  text-align: center;
}
.product_list.list > .ajax_block_product .right-block {
  padding: 0px;
}
.product_list.list > .ajax_block_product .right-block .right-block-content {
  margin: 0;
  padding: 0px;
}
.product_list.list > .ajax_block_product .right-block .right-block-content .content_price {
  padding-bottom: 10px;
  padding-left: 0px;
}
.product_list.list > .ajax_block_product .right-block .right-block-content .content_price span {
  display: inline-block;
}
.product_list.list > .ajax_block_product .right-block .right-block-content .content_price span.product-price.old-price {
  margin-right: 8px;
}
.product_list.list > .ajax_block_product .right-block .right-block-content .content_price span.product-price {
  font-size: 20px;
}
.product_list.list > .ajax_block_product .right-block .right-block-content .button-container {
  overflow: hidden;
  margin: 10px 0;
}
.product_list.list > .ajax_block_product .right-block .right-block-content .button-container .btn {
  margin-bottom: 10px;
}
.product_list.list > .ajax_block_product .right-block .right-block-content .functional-buttons a {
  font-size: 12px;
  cursor: pointer;
}
.product_list.list > .ajax_block_product .right-block .right-block-content .functional-buttons .wishlist {
  border: none;
}
.product_list.list > .ajax_block_product .right-block .right-block-content .functional-buttons .compare {
  padding-top: 10px;
}
.product_list.list > .ajax_block_product .right-block .right-block-content .functional-buttons .compare a:before {
  margin-right: 10px;
}

/*******************************************************
Product list(Index page) Styles 
********************************************************/
/***** IE code *****/
.ie8 .quick-view {
  background: #fff;
  border: 1px solid #ededed;
}

/*******************************************************
Product list 
*******************************************************/
.product-container .product_img_link .replace-2x {
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.product-container:hover .product-additional {
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}
.product-container .product-additional {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

/**************************************************************************
product - list
*****************************************************************************/
.product_list.list .left-block .functional-buttons {
  position: absolute;
  bottom: 0px;
  margin: 0px;
  width: 93%;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  display: inline-block;
}
.product_list.list .left-block .functional-buttons .button-container {
  width: 50%;
  float: left;
}
.rtl .product_list.list .left-block .functional-buttons .button-container {
  float: right;
}
.product_list.list .left-block .functional-buttons .button-container .fa {
  display: inline-block;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.product_list.list .left-block .functional-buttons .button-container .fa-shopping-cart:before {
  content: "\f07a";
  margin-right: 5px;
}
.product_list.list .left-block .functional-buttons .button-container span {
  padding: 0px;
  color: black;
}
.product_list.list .left-block .functional-buttons div {
  float: left;
}
.rtl .product_list.list .left-block .functional-buttons div {
  float: right;
}
.product_list.list .left-block:hover .functional-buttons {
  opacity: 1;
  background: #fff;
  border-bottom: 1px solid #dddddd;
}
